In [4]:
import os
import json
import requests
import pandas as pd
import openpyxl
import numpy as np

# Read the data
s6_monthly_data = pd.read_excel('data/Section6_Dataset.xlsx')
s6_yearly_data = pd.read_excel('data/Section6_Yearly_Dataset.xlsx')

def reindex(df):
    # Set the first row (index 0) as the new header
    df.columns = df.iloc[0]  # Use the first row as the header
    df = df.drop(0)  # Drop the first row (since it was the header now)
    
    # Reset index after dropping the row
    df.reset_index(drop=True, inplace=True)
    
    # Name the first 2 columns
    df.columns = [f'Country' if i == 0 
                  else f'Month-Year' if i == 1
                  else col for i, col in enumerate(df.columns)]

    return df

s6_monthly_df = reindex(s6_monthly_data)
s6_yearly_df = reindex(s6_yearly_data)

s6_yearly_df

,Country,Month-Year,"National Accounts, Expenditure, Gross Domestic Product, Gross Capital Formation, Changes in Inventories, Nominal, Domestic Currency","National Accounts, Expenditure, Gross Domestic Product, Gross Capital Formation, Changes in Inventories, Real, Domestic Currency","Monetary and Financial Accounts, Interest Rates, Central Bank Policy Rates, Discount Rate, Percent per Annum"
0,Germany,1991.0,22051,80411.626776,NaN
1,Germany,1992.0,10754,63078.188233,NaN
2,Germany,1993.0,3368,52198.868247,NaN
3,Germany,1994.0,9679,58669.160474,NaN
4,United States,1989.0,27693.399414,37673.099854,7
5,United States,1990.0,14546.199951,20321.999756,6.79
6,United States,1991.0,-394.199997,-2224.200012,4.11
7,United States,1992.0,16327.799805,22038.399597,3
8,United States,1993.0,20813.5,27278.899414,3
9,United States,1994.0,63784.600586,85414.101562,4.75