In [2]:
import os
import json
import requests
import pandas as pd
import openpyxl
import numpy as np

# Read the data
s6_monthly_data = pd.read_excel('data/Section6_Monthly_Dataset.xlsx')

def reindex(df):
    # Set the first row (index 0) as the new header
    df.columns = df.iloc[0]  # Use the first row as the header
    df = df.drop(0)  # Drop the first row (since it was the header now)
    
    # Reset index after dropping the row
    df.reset_index(drop=True, inplace=True)
    
    # Name the first 2 columns
    df.columns = [f'Country' if i == 0 
                  else f'Month-Year' if i == 1
                  else col for i, col in enumerate(df.columns)]

    return df

s6_monthly_df = reindex(s6_monthly_data)

s6_monthly_df

,Country,Month-Year,"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index"
0,Germany,Jan 1989,74.129549,1.8304,62282.520139,64.969124
1,Germany,Feb 1989,74.762724,1.8521,63127.140877,65.178931
2,Germany,Mar 1989,81.903975,1.8653,62203.567278,65.248867
3,Germany,Apr 1989,79.780034,1.8704,63627.844313,65.66847
4,Germany,May 1989,73.985282,1.9503,62246.09999,65.738406
...,...,...,...,...,...,...
139,United Kingdom,Aug 1994,79.844827,0.648255,45486.461093,72.239689
140,United Kingdom,Sep 1994,87.727301,0.639606,45969.985052,72.350657
141,United Kingdom,Oct 1994,88.747386,0.622748,47211.908673,72.239689
142,United Kingdom,Nov 1994,93.2914,0.629213,46155.254015,72.350657
143,United Kingdom,Dec 1994,85.965336,0.641133,46326.669124,72.683558

In [3]:
# Examine the monthly data you've imported
s6_monthly_df.head()

# Check what variables are available
print(s6_monthly_df.columns.tolist())

# Check the date range
print(f"Date range: {s6_monthly_df['Month-Year'].min()} to {s6_monthly_df['Month-Year'].max()}")

['Country', 'Month-Year', 'Economic Activity, Industrial Production, Index', 'Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate', 'International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar', 'Prices, Consumer Price Index, All items, Index']
Date range: Apr 1989 to Sep 1994

# 6.2 Black Wednesday: The UK Joining & Leaving the ERM

## 6.2.1 Gather Data

## 6.2.2 Data Preparation

- Calculate the DM/£ exchange rate using the dollar rates
- Calculate monthly inflation rates for UK and Germany
- Calculate inflation differential (UK minus Germany)
- Calculate monthly industrial production growth rates
- Calculate 12-month industrial production growth rates
- Calculate monthly real exchange rate growth

## 6.2.3 Analysis: UK Joining ERM

- Create graph showing inflation rates for UK and Germany before joining ERM
- Create graph showing exchange rate movements leading up to joining
- Write brief explanation of why UK joined ERM (supported by your data)

## 6.2.4 Analysis: Currency Attack

- Create graph showing UK's international reserves before and during attack
- Create graph showing DM/£ exchange rate during the crisis period
- Analyze what factors led to the speculative attack
- Write explanation of Soros's currency attack (supported by your data)

## 6.2.5 Volatility Analysis

- Define three periods: pre-ERM, during-ERM, post-ERM
- Calculate standard deviation of real exchange rate growth for each period
- Calculate standard deviation of inflation differential for each period
- Calculate standard deviation of industrial production growth for each period
- Create comparative chart showing volatility changes across periods
- Write analysis of how volatility changed after joining/leaving ERM

## 6.2.6 Level Analysis

- Calculate average levels of exchange rate before/during/after ERM
- Calculate average inflation differentials before/during/after ERM
- Calculate average industrial production growth before/during/after ERM
- Create graphs showing these level changes
- Write analysis of how levels changed after Black Wednesday

## 6.2.7 Conclusion

- Summarize key findings about exchange rate effects
- Discuss limitations of drawing conclusions from this period
- Compare Black Wednesday findings with Bretton Woods analysis
- State overall implications about exchange rate importance